.Navbar {
  background-color: #f1faee;
}

.Navbar ul {
  list-style-type: none;
  display: inline-block;
}

.Navbar ul li {
  display: inline;
  padding-right: 20px;
}

.Navbar ul li a {
  color: #1d3557;
  text-decoration: none;
}

/* .badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
} */

.badge {
  border-radius: 50%;
  font-size: 10px;
  background: #e63946;
  color: #fff;
  padding: 4px;
}
